@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: norse-bold;
    src: url(sources/norse-bold.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
}

body {
    font-family: Rubik, sans-serif;
    display: flex;
    min-height: 100vh;
}

/*left-side*/
header {
    position: relative;
    background: url(sources/background.avif) center center/cover repeat #596D48;
    flex: 2;
}

.logo, 
.credits,
.credits a {
    color: white;
}

.credits a:visited {
    color: rgb(200, 200, 200);
}

.logo {
    margin-top: 200px;
    padding: 15px 50px;
    background: rgb(0, 0, 0, 0.5);

    font-family: norse-bold, Rubik, sans-serif;
    font-size: 2.5em;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 3lh;
}

.credits {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
}

/*right-side*/
main {
    flex: 3;
}

form {
    height: 100%;
    display: flex;
    flex-flow: column;
}

form > div {
    display: flex;
    flex-direction: column;
}

.form-header {
    position: relative;
    z-index: 2;
    background: #f9fafb;
    padding: 0 50px;
    flex: 1;
    
    justify-content: flex-end;
}

.form-header p:first-child {
    margin-top: 120px;
}

.form-header p,
.form-main p {
    width: min(50ch, 100%); 
    margin-bottom: 1.4em;
    font-size: 1.4em;
    font-weight: 500;
}

.form-main {
    position: relative;
    z-index: 1;
    background: #ffffff;
    padding: 0 50px;
    box-shadow: 1px 1px 8px #B8B8B8;
    flex: 1;

    justify-content: center;
}

.form-main div {
    position: relative;
}

.form-main p {
    margin-top: 40px;
}

.form-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;
    max-width: 600px;
}

.form-flex div {
    margin-bottom: 1em;
}

.form-main label {
    display: block;
    font-size: 0.85em;
    letter-spacing: 2px;
}

.form-main input {
    appearance: none;
    display: block;
    width: 275px;
    padding: 0.3em 0.5em;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    font-size: inherit;
}

.form-main input:focus {
    outline: 1px solid blue;
    box-shadow: 3px 3px 4px #B8B8B8;
}

.form-main input:invalid, 
.form-main input.error {
    outline: 1px solid red;
}

.form-main input#email:invalid + span::after {
    position: absolute;
    content: '* Invalid e-mail address';
    color: red;
    font-size: 0.8em;
    bottom: -1.3em;
}

.form-main input#password.error + span::after {
    position: absolute;
    content: '* Passwords do not match';
    color: red;
    font-size: 0.8em;
    bottom: -1.3em;
}

.form-footer {
    background: #f9fafb;
    padding: 0 50px;
    flex: 1;

    justify-content: flex-start;
}

.form-footer button {
    background: #596D48;
    margin-top: 60px;
    padding: 10px 40px;

    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;

    color: white;
    font-family: inherit;
    font-size: 1.4em;
    font-weight: 500;

    align-self: flex-start;

    cursor: pointer;
}

.form-footer button:active {
    background: #455437;
}

.form-footer p {
    margin-top: 3em;
    margin-bottom: 120px;
}

.form-footer a {
    color: #596D48;
}

.form-footer a:visited {
    color: #455437;
}

@media only screen and (max-width: 700px) {
    body {
        display: block;
    }

    header {
        height: 400px;
        overflow: auto;
    }

    .logo {
        margin-top: 100px;
        font-size: 2em;
    }

    .form-header p,
    .form-main p {
        font-size: 1.1em;
    }

    .form-header p:first-child {
        margin-top: 40px;
    }

    .form-footer button {
        font-size: 1.1em;
        margin-top: 30px;
        align-self: center;
    }

    .form-footer p {
        margin: 30px 0 30px;
        text-align: center;
    }
}

/* Things to Work On:
- main-footer not occupying the leftover space
- main-footer going over html / header/html not increasing height as width is decreased
- if-function not working
*/




